<section class="hero">
  <div class="container">
    <div class="hero-content">
      <h1 class="hero-title">
        Consulta.me
      </h1>
      <h2 class="hero-title-2">
        Encontre profissionais de <span>diversas especialidades</span>
      </h2>
      <p class="hero-subtitle">e agende sua consulta com facilidade.</p>
    </div>
    <div class="hero-image">
      <img src="#" alt="Médico com máscara">
      <img src="#" alt="Médica com estetoscópio">
    </div>
  </div>
</section>
